<!DOCTYPE html>
<html lang="en">
<head>
	<title> Falcon Fitness Center </title>
	<meta charset="utf-8">
	<link href="css/ExternalStyleSheetFFC.css"rel="stylesheet">
</head>
<body>
	<div id="container">
<header>
     <a href="index.html"> <img src="images/FFCLogo.png" alt="FFClogo" height="460" width="819">
</header>
<nav>
     <a href="index.html">Home</a> &nbsp; &nbsp;

     <a href="about.html">About Us</a> &nbsp; &nbsp;

     <a href="classes.html">Classes</a> &nbsp; &nbsp;

     <a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;

     <a href="contact.html">Contact Us</a>
</nav>

<main>
<h1> Weights</h1>
	
	




	<img class="equip" src="images/Weights1.jpg" alt="Pictures of Weights" height="720" width="720">
	
	<p> Our facility includes a weight training area with several weight options. Build lean muscle with weights and improve your core with weight training.</p>
	
	<ul>
	
	<li>Dumbbells</li>
	<li>kette Bells</li>
	<li>Barbells</li>
	</ul><br>  
	
	<h1> Cardio</h1>
		
	
	
	
	

	<h1> Ready to Started? Contact us today </h1>
	
	<p>We are located at: <br>
	25743 Bloom Court<br>
	Weston,FL </p>
	
	<p> Phone Number<br>
	<a class="mobile"href="tel:9547778888">(954)777-8888</a></p>
	
	<p> Email Adress <br>
	<a href="mailto:falconfitnesscenter515@gmail">
falconfitnesscenter515@gmail</a></p>

	<br><br>
</main>  
<footer>
	&copy;Copyright 2022. All Rights Reserved. <br>
     <a 
	 href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>
</footer>
</div>
</body>
</html>